include COPYING
include CHANGELOG.md
include CONTRIBUTING.md
include README.md
include CITATION.cff

recursive-include pyrodigal/tests      *.py *.txt
recursive-include pyrodigal/tests/data *

recursive-include vendor/Prodigal      *.c *.h *.md VERSION LICENSE CHANGES Makefile

recursive-include pyrodigal            *.py *.pyi *.pyx *.pxd *.h py.typed
recursive-exclude pyrodigal            *.c *.html
recursive-include pyrodigal/impl       *.c *.h *.pxd
