name: Test

on:
  - push
  - pull_request

jobs:

  test_linux:
    name: Test (Linux)
    runs-on: ubuntu-20.04
    env:
      OS: Linux
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: 3.7
          python-release: v3.7
          python-impl: CPython
        - python-version: 3.8
          python-release: v3.8
          python-impl: CPython
        - python-version: 3.9
          python-release: v3.9
          python-impl: CPython
        - python-version: '3.10'
          python-release: v3.10
          python-impl: CPython
        - python-version: '3.11'
          python-release: v3.11
          python-impl: CPython
        - python-version: '3.12'
          python-release: v3.12
          python-impl: CPython
        - python-version: pypy-3.7
          python-release: v3.7
          python-impl: PyPy
        - python-version: pypy-3.8
          python-release: v3.8
          python-impl: PyPy
        - python-version: pypy-3.9
          python-release: v3.9
          python-impl: PyPy
        - python-version: pypy-3.10
          python-release: v3.10
          python-impl: PyPy
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python requirements
      run: python -m pip install -r .github/workflows/requirements.txt
    - name: Install test requirements
      run: python -m pip install -r src/pyrodigal/tests/requirements.txt
    - name: Build C extension in debug mode
      run: python -m pip install -e . --no-build-isolation -v
    - name: Test without coverage
      run: python -m unittest pyrodigal.tests -vv

  test_osx:
    name: Test (OSX)
    runs-on: macos-12
    env:
      OS: OSX
      _PYTHON_HOST_PLATFORM: macosx-10.9-x86_64
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: 3.7
          python-release: v3.7
          python-impl: CPython
        - python-version: 3.8
          python-release: v3.8
          python-impl: CPython
        - python-version: 3.9
          python-release: v3.9
          python-impl: CPython
        - python-version: '3.10'
          python-release: v3.10
          python-impl: CPython
        - python-version: '3.11'
          python-release: v3.11
          python-impl: CPython
        - python-version: '3.12'
          python-release: v3.12
          python-impl: CPython
        - python-version: pypy-3.7
          python-release: v3.7
          python-impl: PyPy
        - python-version: pypy-3.8
          python-release: v3.8
          python-impl: PyPy
        - python-version: pypy-3.9
          python-release: v3.9
          python-impl: PyPy
        - python-version: pypy-3.10
          python-release: v3.10
          python-impl: PyPy
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python requirements
      run: python -m pip install -r .github/workflows/requirements.txt
    - name: Install test requirements
      run: python -m pip install -r src/pyrodigal/tests/requirements.txt
    - name: Build C extension in debug mode
      run: python -m pip install -e . --no-build-isolation -v
    - name: Test without coverage
      run: python -m unittest pyrodigal.tests -vv

  test_windows:
    name: Test (Windows)
    runs-on: windows-latest
    env:
      OS: Windows
    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: 3.7
          python-release: v3.7
          python-impl: CPython
        - python-version: 3.8
          python-release: v3.8
          python-impl: CPython
        - python-version: 3.9
          python-release: v3.9
          python-impl: CPython
        - python-version: '3.10'
          python-release: v3.10
          python-impl: CPython
        - python-version: '3.11'
          python-release: v3.11
          python-impl: CPython
        - python-version: '3.12'
          python-release: v3.12
          python-impl: CPython
        - python-version: pypy-3.7
          python-release: v3.7
          python-impl: PyPy
        - python-version: pypy-3.8
          python-release: v3.8
          python-impl: PyPy
        - python-version: pypy-3.9
          python-release: v3.9
          python-impl: PyPy
        - python-version: pypy-3.10
          python-release: v3.10
          python-impl: PyPy
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Python requirements
      run: python -m pip install -r .github/workflows/requirements.txt
    - name: Install test requirements
      run: python -m pip install -r src/pyrodigal/tests/requirements.txt
    - name: Build C extension in release mode
      run: python -m pip install -e . --no-build-isolation -v -C cmake.build-type=Release
    - name: Test without coverage
      run: python -m unittest pyrodigal.tests -vv

  # coverage_linux:
  #   name: Coverage (Linux)
  #   runs-on: ubuntu-latest
  #   needs: test_linux
  #   env:
  #     OS: Linux
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #       - python-version: 3.12
  #         python-release: v3.12
  #         python-impl: CPython
  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v4
  #     with:
  #       submodules: true
  #   - name: Setup Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: ${{ matrix.python-version }}
  #   - name: Install Python requirements
  #     run: python -m pip install -r .github/workflows/requirements.txt
  #   - name: Install test requirements
  #     run: python -m pip install -r src/pyrodigal/tests/requirements.txt
  #   - name: Install coverage package
  #     run: python -m pip install -U coverage
  #   - name: Build Cython extension in debug mode
  #     run: python -m pip install -e . --no-build-isolation -v
  #   - name: Copy Cython files in-source
  #     run: cp build/Debug/src/pyrodigal/lib.c src/pyrodigal/lib.c
  #   - name: Test with coverage
  #     run: python -m coverage run -m unittest pyrodigal.tests -vv
  #   - name: Report coverage
  #     run: python -m coverage report
  #   - name: Upload to Codecov
  #     uses: codecov/codecov-action@v1
  #     with:
  #       flags: ${{ matrix.python-impl }},${{ matrix.python-release }},${{ env.OS }}
  #       name: test-python-${{ matrix.python-version }}
  #       fail_ci_if_error: true
  #       token: ${{ secrets.CODECOV_TOKEN }}
